/* Global Styles */
:root {
  --primary-color: #826390;
  --primary-lighter: #A685B6;
  --primary-darker: #674E72;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}

a {
  /* color: var(--light-color); */
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/

.large {
  font-size: 3rem;
  line-height: 1.2;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.lead {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.medium {
  font-size: 1.5rem;
}

.text-primary {
  color: var(--primary-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-top {
  margin-top: 3rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 5px;
}
.alter-text {
  color: var(--danger-color);
  font-size: 1rem;
}

.btn-primary,
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-danger,
.bg-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-outstanding {
  background-color: var(--primary-darker);
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.bg-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.enter {
  font-size: 1.2rem;
  font-weight: bold;
  background : var(--primary-lighter);
}

.orderby {
  color:  #fff;
  background : var(--primary-lighter);
}

.logo {
  width: 5rem;
  height: 5rem;
}

.round-img {
  border-radius: 50%;
}

/* Forms */

.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

/* home page */
.home-header {
    padding: 1rem 3rem;
    opacity: 0.9;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar .inactive {
  color: #333;
}

.navbar a:hover {
  color: #333;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .medium {
    font-size: 1rem;
  }
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }


  /* home page */
  .enter {
    font-size: 1rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
